# Scraping

In [2]:
#import necessary packages
import time
from selenium import webdriver
import pandas as pd
import matplotlib.pyplot as 
import re

#create an instance of browser
driver = webdriver.Chrome()

#creating a dictionary for storing the information after scraping
jobs={"roles":[],
     "companies":[],
     "locations":[],
     "experience":[],
     "skills":[]}

In [3]:
#Navigate to the Medium popular page
driver.get("https://medium.com/topic/popular")
time.sleep(3)

In [1]:
#to scroll down the page to the bottom to load all the items on the page
for i in range(10):
    time.sleep(3)
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")

In [7]:
#Extract all the
posts={"title":[],
       "time":[],
       "author":[]}   
for post in driver.find_elements_by_css_selector(".gq.gr.gk.n.gs.gt.gu.gv.gw.al"):
    title=post.find_element_by_css_selector(".ap.q.ee.cf.ef.cg.fl.gy.gz.as.av.fm.ek.el.au").text
    author=post.find_element_by_css_selector(".cf.b.cg.ch.ci.cj.as.av.en.ek.el.au.ap.q").text.lower().strip()
    dat=post.find_element_by_css_selector(".cf.b.cg.ch.ci.cj.r.ck.cl").text.lower().strip()
    posts["title"].append(title)
    posts["time"].append(dat)
    posts["author"].append(author)

In [9]:
#coverting it to a Data frame
posts_df=pd.DataFrame(posts)
posts_df.head()

,title,time,author
0,Why Men Are So Bothered By Cardi B and Megan T...,aug 11\n·\n4 min read,demetria l. lucas in level
1,The Three Bay Areas,"mar 13, 2017\n·\n10 min read",keith a. spencer in the bold italic
2,The First Gene-Edited Squid in History Is a Bi...,aug 11\n·\n5 min read,emily mullin in onezero
3,The Gig Economy Is Failing. Say Hello to the H...,jul 29\n·\n12 min read,caitlin dewey in onezero
4,The Pandemic Isn’t Forcing Moms Out of the Wor...,jul 31\n·\n3 min read,jessica valenti in gen

In [10]:
posts_df.shape

(3275, 3)

In [11]:
posts_df[["author","publication","null"]]=posts_df.author.str.split(" in ",expand=True)
posts_df[["date","duration"]]=posts_df.time.str.split("\n·\n",expand=True)

In [33]:
posts_df.head()

,title,time,author,publication,null,date,duration
0,Why Men Are So Bothered By Cardi B and Megan T...,aug 11\n·\n4 min read,demetria l. lucas,level,None,aug 11,4 min read
1,The Three Bay Areas,"mar 13, 2017\n·\n10 min read",keith a. spencer,the bold italic,None,"mar 13, 2017",10 min read
2,The First Gene-Edited Squid in History Is a Bi...,aug 11\n·\n5 min read,emily mullin,onezero,None,aug 11,5 min read
3,The Gig Economy Is Failing. Say Hello to the H...,jul 29\n·\n12 min read,caitlin dewey,onezero,None,jul 29,12 min read
4,The Pandemic Isn’t Forcing Moms Out of the Wor...,jul 31\n·\n3 min read,jessica valenti,gen,None,jul 31,3 min read

In [34]:
posts_df["duration"]=[int(re.sub("\D", "",dur)) for dur in posts_df.duration]

In [35]:
posts_df.head()

,title,time,author,publication,null,date,duration
0,Why Men Are So Bothered By Cardi B and Megan T...,aug 11\n·\n4 min read,demetria l. lucas,level,None,aug 11,4
1,The Three Bay Areas,"mar 13, 2017\n·\n10 min read",keith a. spencer,the bold italic,None,"mar 13, 2017",10
2,The First Gene-Edited Squid in History Is a Bi...,aug 11\n·\n5 min read,emily mullin,onezero,None,aug 11,5
3,The Gig Economy Is Failing. Say Hello to the H...,jul 29\n·\n12 min read,caitlin dewey,onezero,None,jul 29,12
4,The Pandemic Isn’t Forcing Moms Out of the Wor...,jul 31\n·\n3 min read,jessica valenti,gen,None,jul 31,3

In [36]:
posts_df=posts_df.drop(["time","null"],axis=1)

In [38]:
posts_df.head()

,title,author,publication,date,duration
0,Why Men Are So Bothered By Cardi B and Megan T...,demetria l. lucas,level,aug 11,4
1,The Three Bay Areas,keith a. spencer,the bold italic,"mar 13, 2017",10
2,The First Gene-Edited Squid in History Is a Bi...,emily mullin,onezero,aug 11,5
3,The Gig Economy Is Failing. Say Hello to the H...,caitlin dewey,onezero,jul 29,12
4,The Pandemic Isn’t Forcing Moms Out of the Wor...,jessica valenti,gen,jul 31,3

In [39]:
posts_df.to_csv("medium_3000.csv")

## Scraping other elements- Claps and Tags
#### We need to scrape these elements seperately because these are only visible  inside the article.

In [8]:
#finding all the article links on the Medium popular page.
urls=[]
elems = driver.find_elements_by_tag_name('a')
for elem in elems:
    href = elem.get_attribute('href')
    if href is not None:
        urls.append(href)

In [10]:
article_urls=[url for url in urls if "topic_page" in url and "operation" not in url]
article_urls=[url for url in article_urls if len(url)>90]
final_urls=list(set(article_urls))

In [3]:
# Extract the title,claps,tags for each article
article={"title":[],
        "clap":[],
         "tag":[]
        }
i=0
for url in final.urls:
    driver.get(url)
    time.sleep(3)
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(3)
    try:
        try:
            article["title"].append(driver.find_element_by_tag_name("h1").text)
        except:
            article["title"].append([f.text for f in driver.find_elements_by_tag_name("h2")][1])
    except:
        article["title"].append("None")
    try:
        try:
            article["clap"].append([i.text for i in driver.find_elements_by_tag_name("button") if i.text not in ['',"Follow","Get this newsletter",'Not you?','Get started']][0])
        except:
            article["clap"].append([i.text for i in driver.find_elements_by_tag_name("button") if "claps" in i.text])
    except:
        article["clap"].append("None")
    try:
        tag=[]
        for elem in driver.find_elements_by_tag_name('a'):
            href = elem.get_attribute('href')
            if any(re.findall(r'\/tag|tagged', href, re.IGNORECASE)):
                tag.append(href.split("/")[-1])
        article["tags"].append(tag)
    except:
        article["tags"].append("None")

    print(i)
    i=i+1

In [26]:
article_df=pd.DataFrame(article)
article_df

,title,clap,tags
0,Tom Colicchio Spent 19 Years Building a Restau...,11.3K,"['coronavirus-diaries', 'tom-colicchio', 'rest..."
1,What I Learned from Gods Who Don’t Exist,4.4K claps,"['religion', 'magic', 'philosophy', 'martial-a..."
2,"Us vs. Them, Poolside with My Mother",510 claps,"['personal-development', 'memoir', 'family', '..."
3,Interesting Web Technologies to follow,8.1K claps,"['javascript', 'web-development', 'tech', 'tec..."
4,Inside the Underground Baby Trade in the Phili...,1600,"['human-rights', 'human-trafficking', 'philipp..."
...,...,...,...
3182,Self-Driving Cars Are Not the Future,3.2K claps,"['transportation', 'technology', 'self-driving..."
3183,The Unsolved Murder of Dorothy Jane Scott,1400,"['crime', 'true-crime', 'unsolved-mysteries', ..."
3184,The Technology That Will Define 2019,11K,"['', 'predictions', 'tech', 'the-upgrade', 'fu..."
3185,The Skin of Others in your Game,3.5K claps,"['politics', 'philosophy', 'monsanto', 'ketchu..."
3186,The Reign Of The Internet Sad Girl Is Over— An...,2.3K claps,"['arts-creators', 'mental-health', 'sad-girl',..."

### Merge two Data Frames

In [39]:
posts_df=pd.read_csv("medium_3000.csv",index_col=[0])
claps_df=pd.read_csv(r"C:\Users\kumarb12\Projects\Medium\Medium_claps_1.csv",engine='python',index_col=[0])

In [41]:
medium_df=posts_df.merge(claps_df,on='title')
medium_df

,title,author,publication,date,duration,claps,tags_cleaned
0,The Three Bay Areas,keith a. spencer,the bold italic,"mar 13, 2017",10,7400,"san-francisco,tech,politics,humor,this-just-in"
1,The First Gene-Edited Squid in History Is a Bi...,emily mullin,onezero,aug 11,5,1100,",reengineering-life,science,gene-editing,neuro..."
2,The Gig Economy Is Failing. Say Hello to the H...,caitlin dewey,onezero,jul 29,12,5100,"gig-economy,economy,tech,digital-life,business"
3,10 Bizarre Money Habits Making Millennials Richer,refinery29 uk,refinery29,aug 7,4,3800,"money,saving,saving-money,millennials,hacks"
4,Google’s Remote Work Policy Has 9 Great Tips Y...,inc. magazine,inc magazine,aug 4,5,4200,"remote-working,work,google"
...,...,...,...,...,...,...,...
2696,Decapitating Consciousness,robert epstein,the awl,"mar 6, 2017",16,1700,"consciousness,brain,neuroscience,science,edito..."
2697,A Career Retrospective—10 years working in tech,sailor mercury,NaN,"mar 6, 2017",17,3200,"machine-learning,artificial-intelligence,techn..."
2698,How reader engagement helped unearth the Shell...,ernst pfauth,the correspondent,"mar 6, 2017",8,599,"climate-change,environment,journalism,shell,co..."
2699,A History and Future of the Rise of the Robots,r. david dixon jr.,hackernoon.com,"mar 4, 2017",14,971,"technology,future,technology,basic-income,futu..."
2700,Hype Driven Development,marek kirejczyk,daftcode blog,"nov 23, 2016",9,12300,"hype-driven-development,software-development,l..."

In [217]:
medium_df.to_csv("medium_data.csv")